my-freight-driver{

  .segment-md .segment-button{
    height: 5.2rem;
    font-size: 1.4rem;
    text-transform: capitalize !important;
    opacity: 1 !important;
    line-height: 2rem;
    padding: 5px 6px;
    color: color($colors, txwhite);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }
  .segment-button{
    white-space: initial;
  }

  .segment-md .segment-button.segment-activated{
    border-bottom-color: color($colors, btn) !important;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    color: color($colors, btnd);
  }

  .card-offert{

    margin-top: 1rem;

    .card-content-md {
      padding: 13px 0px  0px 5px!important;
    }
    .grid{
      padding: 0 !important;
    }

    .c-shared{
      align-content: flex-end;
      align-items: flex-end;
    }

    .no-padding{
      padding: 0!important;
    }
  }

  .c-date{
    color: color($colors, txwhite);
    font-size: 1.2rem;
    margin-right: 1rem;
    font-weight: 500;
  }

  .tx-title{
    color: color($colors, title) !important;
    font-weight: 500 !important;
  }

  .tx-share{
    color: color($colors, btn) !important;
    font-weight: 500 !important;
  }

  .c-divider{
    background-color: color($colors, title);
    width: calc(100% - 20px);
    height: 3px;
    margin: 10px;

  }

  .f-next{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }



}
