<ion-header>
  <ion-navbar>
    <ion-title>Mis Fletes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

    <div>
        <ion-segment [(ngModel)]="listType">
          <ion-segment-button value="all">
            Viajes que me interesan
          </ion-segment-button>
          <ion-segment-button value="assigned">
            Viajes en curso
          </ion-segment-button>
          <ion-segment-button value="history">
              Historico viajes
            </ion-segment-button>
        </ion-segment>
      </div>

      <div [ngSwitch]="listType">

          <div *ngSwitchCase="'all'">
              <div *ngIf="allOffers.length === 0">
                  <p text-center>No Tienes Ofertas</p>
              </div>

              <div *ngIf="allOffers.length > 0">

              <div *ngFor="let item of allOffers; let i = index">

                  <ion-card class="card-offert">

                      <ion-card-content>
                        <ion-grid>
                            <ion-row>
                                <ion-col col-4>
                                    <p class="c-date" text-start>{{item.pedido}} </p>
                                </ion-col>
                                <ion-col col-8>
                                    <p class="c-date" text-end>Publicado {{item.fecha_creacion | date: 'dd/MM/yy , h:mm a'}}</p>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                              <ion-col col-2>
                                  <p class="tx-title">Estado:</p>
                              </ion-col>
                              <ion-col col-6>
                                  <p *ngIf="item.estado_flete !== undefined" class="tx-summary">{{item.estado_flete}}</p>
                              </ion-col>
                              <ion-col col-3>
                                  <button *ngIf="item.estado_flete === 'Asignado'" ion-button color="secondary" small (click)="acceptOffer(item._id)">Aceptar</button>
                              </ion-col>
                            </ion-row>

                        </ion-grid>

                        <ion-grid>
                          <ion-row>
                              <ion-col col-9>
                                  <ion-row>
                                    <ion-col col-4>
                                        <p class="tx-title tcity">
                                            <ion-icon name="md-pin" color="statusbar"></ion-icon>
                                            Origen
                                          </p>
                                    </ion-col>
                                    <ion-col>
                                        <p class="tx-title">{{item.ciudad_origen}}</p>
                                      </ion-col>
                                  </ion-row>

                                  <ion-row>
                                      <ion-col col-4>
                                          <p class="tx-title tcity">
                                              <ion-icon name="md-pin" color="btn"></ion-icon>
                                                Destino
                                            </p>
                                      </ion-col>
                                      <ion-col>
                                          <p class="tx-title">{{item.ciudad_destino}}</p>
                                        </ion-col>
                                    </ion-row>

                              </ion-col>
                              <ion-col col-3 class="c-shared">
                                  <img class="h-actions" src="./assets/imgs/details-chat.png">
                              </ion-col>
                          </ion-row>

                          <ion-row>
                              <ion-col col-7>
                                <p class="tx-title">Tipo</p>
                                <p class="tx-summary">{{item.tipo_carroceria}}</p>

                                <p class="tx-title">Peso</p>
                                <p class="tx-summary">{{item.peso_carga_max}} TON</p>

                                <p class="tx-title">Flete</p>
                                <p class="tx-summary">{{item.flete | currency:'USD':'symbol':'4.0-0' }}</p>
                              </ion-col>
                              <ion-col col-5 class="no-padding">
                                <p class="tx-title">Carrocería</p>
                                <p class="tx-summary"> {{item.clase_vehiculo}}</p>

                                <p class="tx-title">Fecha de Carga</p>
                                <p class="tx-summary">{{item.inicio | date: 'dd/MM/yy'}}</p>
                                <br>
                                <img (click)="freightDetails(item)" class="f-next" src="./assets/imgs/find_next.png">

                              </ion-col>
                          </ion-row>

                        </ion-grid>

                      </ion-card-content>
                  </ion-card>

                  <hr *ngIf="i != allOffers.length -1" class="c-divider">

                </div>

          </div>

          </div>

          <div *ngSwitchCase="'assigned'">
              <div *ngIf="assignedOffers.length === 0">
                  <p text-center>Aún No Tienes Ofertas Asignadas</p>
              </div>

              <div *ngIf="assignedOffers.length > 0">

                <div *ngFor="let item of assignedOffers; let i = index">

                    <ion-card class="card-offert">

                        <ion-card-content>
                          <ion-grid>
                              <ion-row>
                                  <ion-col col-4>
                                      <p class="c-date" text-start>{{item.pedido}} </p>
                                  </ion-col>
                                  <ion-col col-8>
                                      <p class="c-date" text-end>Publicado {{item.fecha_creacion | date: 'dd/MM/yy , h:mm a'}}</p>
                                  </ion-col>
                              </ion-row>

                          </ion-grid>

                          <ion-grid>
                            <ion-row>
                                <ion-col col-9>
                                    <ion-row>
                                      <ion-col col-4>
                                          <p class="tx-title tcity">
                                              <ion-icon name="md-pin" color="statusbar"></ion-icon>
                                              Origen
                                            </p>
                                      </ion-col>
                                      <ion-col>
                                          <p class="tx-title">{{item.ciudad_origen}}</p>
                                        </ion-col>
                                    </ion-row>

                                    <ion-row>
                                        <ion-col col-4>
                                            <p class="tx-title tcity">
                                                <ion-icon name="md-pin" color="btn"></ion-icon>
                                                  Destino
                                              </p>
                                        </ion-col>
                                        <ion-col>
                                            <p class="tx-title">{{item.ciudad_destino}}</p>
                                          </ion-col>
                                      </ion-row>

                                </ion-col>
                                <ion-col col-3 class="c-shared">
                                    <img class="h-actions" src="./assets/imgs/details-chat.png">
                                </ion-col>
                            </ion-row>

                            <ion-row>
                                <ion-col col-7>
                                  <p class="tx-title">Tipo</p>
                                  <p class="tx-summary">{{item.tipo_carroceria}}</p>

                                  <p class="tx-title">Peso</p>
                                  <p class="tx-summary">{{item.peso_carga_max}} TON</p>

                                  <p class="tx-title">Flete</p>
                                  <p class="tx-summary">{{item.flete | currency:'USD':'symbol':'4.0-0' }}</p>
                                </ion-col>
                                <ion-col col-5 class="no-padding">
                                  <p class="tx-title">Carrocería</p>
                                  <p class="tx-summary"> {{item.clase_vehiculo}}</p>

                                  <p class="tx-title">Fecha de Carga</p>
                                  <p class="tx-summary">{{item.inicio | date: 'dd/MM/yy'}}</p>
                                  <br>
                                  <img (click)="freight(item)" class="f-next" src="./assets/imgs/find_next.png">

                                </ion-col>
                            </ion-row>

                          </ion-grid>

                        </ion-card-content>
                    </ion-card>

                    <hr *ngIf="i != assignedOffers.length -1" class="c-divider">

                  </div>

            </div>

          </div>

          <div *ngSwitchCase="'history'">
              <div *ngIf="historyOffers.length === 0">
                  <p text-center>Aún No haz realizado ningún viaje</p>
              </div>
          </div>

      </div>

</ion-content>
