find-freight-driver{

  .cr-content{
    margin-top: 4rem;
  }

  .card-content{
    margin-top: 0.2rem;
  }

  .scroll-content{
    margin-bottom: 5rem;
  }

  .card-offert{

    margin-top: 1rem;

    .card-content-md {
      padding: 13px 0px  0px 5px!important;
    }
    .grid{
      padding: 0 !important;
    }

    .c-shared{
      align-content: flex-end;
      align-items: flex-end;
    }

    .no-padding{
      padding: 0!important;
    }
  }

  .mi{
    margin-bottom: 0.4rem;
  }

  .c-date{
    color: color($colors, txwhite);
    font-size: 1.2rem;
    margin-right: 1rem;
    font-weight: 500;
  }

  .tx-title{
    color: color($colors, title) !important;
    font-weight: 500 !important;
  }

  .tx-summary{
    color: color($colors, title) !important;
    font-size: 1.4rem;
    font-weight: 500;
  }

  .tx-share{
    color: color($colors, btn) !important;
    font-weight: 500 !important;
    font-size: 1rem;
  }

  .c-divider{
    background-color: color($colors, title);
    width: calc(100% - 20px);
    height: 3px;
    // margin: 10px;
  }

  .f-next{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .fab[mini] {
    margin: 1px;
    width: 35px;
    height: 35px;
    line-height: 35px;
  }

  .fab ion-icon{
    font-size: 2rem !important;
  }

}
