<nav-driver-component></nav-driver-component>

<ion-content class="cr-content">

  <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
      refreshingSpinner="circles"
      refreshingText="Actualizando...">
      </ion-refresher-content>
  </ion-refresher>

  <ion-grid margin-top>

    <div [ngClass]="hiddenFilters ? 'content-filters-hidden': 'content-filters-active'">

      <ion-row>
        <ion-col col-3>
          <p class="tx-title">Clase vehículo</p>
        </ion-col>
        <ion-col>
            <ion-item class=l-item (click)="showModal(0)">
                <ion-input [formControl]="findForm.controls['type']" disabled="true" placeholder="Seleccione"></ion-input>
                <ion-icon name="md-arrow-dropdown" class="search-icon" item-end></ion-icon>
            </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-3>
          <p class="tx-title">Carrocería</p>
        </ion-col>
        <ion-col (click)="showModal(1)">
            <ion-item class=l-item>
                <ion-input [formControl]="findForm.controls['bodywork']" disabled="true" placeholder="Seleccione"></ion-input>
                <ion-icon name="md-arrow-dropdown" class="search-icon" item-end></ion-icon>
            </ion-item>
        </ion-col>
      </ion-row>


      <ion-row>
          <ion-col col-3>
            <p class="tx-title">Fecha</p>
          </ion-col>
          <ion-col>
              <ion-item class=l-item>
                  <ion-datetime
                    displayFormat="MM/DD/YYYY"
                    pickerFormat="MM/DD/YYYY"
                    min="2018" max="2020"
                    placeholder="Seleccione"
                    [formControl]="findForm.controls['date']">
                  </ion-datetime>
                  <ion-icon name="md-calendar" class="search-icon" item-end></ion-icon>
              </ion-item>

          </ion-col>
      </ion-row>

      <ion-row>
          <ion-col col-3>
            <p class="tx-title">Origen</p>
          </ion-col>
          <ion-col (click)="showModal(2)">
              <ion-item class=l-item>
                  <ion-input [formControl]="findForm.controls['origin']" disabled="true" placeholder="Todos los origenes"></ion-input>
                  <ion-icon name="md-arrow-dropdown" class="search-icon" item-end></ion-icon>
              </ion-item>

          </ion-col>
      </ion-row>

      <ion-row>
          <ion-col col-3>
            <p class="tx-title">Destino</p>
          </ion-col>
          <ion-col (click)="showModal(3)">
              <ion-item class=l-item>
                  <ion-input [formControl]="findForm.controls['destination']" disabled="true" placeholder="Todos los destinos"></ion-input>
                  <ion-icon name="md-arrow-dropdown" class="search-icon" item-end></ion-icon>
              </ion-item>
          </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
            <button color="btn" ion-button full (click)="search()">Buscar Ahora</button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col text-center no-padding>
          <p (click)="resetFilters()" class="tx-title">Quitar Filtros</p>
        </ion-col>
      </ion-row>

    </div>


    <ion-row>
      <ion-col col-5>
          <hr class="c-divider">
      </ion-col>
      <ion-col class="too-search" text-center>
          <button (click)="toogleSearch(iconFilter)" color="btn" ion-button icon-only clear>
              <ion-icon [name]="iconFilter"></ion-icon>
            </button>
      </ion-col>
      <ion-col col-5>
          <hr class="c-divider">
      </ion-col>
    </ion-row>

  </ion-grid>

  <div class="card-content" *ngFor="let item of offers; let i = index">

      <ion-card class="card-offert">
          <ion-card-content>

            <ion-grid>
                <ion-row>
                    <ion-col col-4>
                        <p class="c-date" text-start>{{item.pedido}} </p>
                    </ion-col>
                    <ion-col col-8>
                        <p class="c-date" text-end>Publicado {{item.fecha_creacion | date: 'dd/MM/yy , h:mm a'}}</p>
                    </ion-col>
                </ion-row>
              <ion-row>
                  <ion-col col-9>
                      <ion-row>
                        <ion-col col-4>
                            <p class="tx-title mi">
                                <ion-icon name="md-pin" color="statusbar"></ion-icon>
                                Origen
                            </p>
                        </ion-col>
                        <ion-col>
                            <span class="tx-summary ">{{item.ciudad_origen}}</span>
                        </ion-col>
                      </ion-row>

                      <ion-row>
                          <ion-col col-4>
                              <p class="tx-title mi">
                                  <ion-icon name="md-pin" color="btn"></ion-icon>
                                  Destino
                                </p>
                          </ion-col>
                          <ion-col>
                              <span class="tx-summary">{{item.ciudad_destino}}</span>
                          </ion-col>
                      </ion-row>


                  </ion-col>
                  <ion-col col-2 class="c-shared" (click)="shared(item)">
                      <button ion-fab mini color="btn">
                          <ion-icon name="md-share"></ion-icon>
                      </button>
                      <p class="tx-share">Compartir</p>
                  </ion-col>
              </ion-row>

              <ion-row>
                  <ion-col col-6>
                    <p class="tx-title">Tipo</p>
                    <p class="tx-summary">{{item.tipo_carroceria}}</p>
                    <p class="tx-title">Peso</p>
                    <p class="tx-summary">{{item.peso_carga_max}} TON</p>
                    <p class="tx-title">Flete</p>
                    <p class="tx-summary">{{item.flete | currency:'USD':'symbol':'4.0-0' }}</p>
                  </ion-col>
                  <ion-col col-6 class="no-padding">
                    <p class="tx-title">Carrocería</p>
                    <p class="tx-summary"> {{item.clase_vehiculo}}</p>
                    <p class="tx-title">Fecha de Carga</p>
                    <p class="tx-summary">{{item.inicio | date: 'dd/MM/yy'}}</p>
                    <br>
                    <img (click)="freightDetails(item)" class="f-next" src="./assets/imgs/find_next.png">

                  </ion-col>
              </ion-row>

            </ion-grid>

          </ion-card-content>
      </ion-card>

      <hr *ngIf="i != offers.length -1" class="c-divider">

    </div>

</ion-content>
