details-vehicles {

  .img-truck{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    width: 80%;
  }

  .c-info{
    margin-top: 1.4rem;
    p{
      margin: 0.5rem !important;
    }
  }

  .tx-title{
    color: color($colors, title) !important;
    font-weight: 500 !important;
  }

  .tx-summary{
    color: color($colors, title) !important;
    font-size: 1.4rem;
    // font-weight: 500;
  }

  .tx-lite{
    color: color($colors, title) !important;
    font-size: 1.2rem;
  }

  .tx-n{
    color: red;
  }
  .tx-y{
    color: green;
  }

  .item-md ion-thumbnail[item-start] {
    margin: 0 3rem 0 0!important;
  }

  .item-md ion-thumbnail{
    min-width: 0 !important;
    min-height: 0!important;
  }

  .details-item{

    .item-thumb{
      width: 90% !important;
      height: 50% !important;
      margin: 1rem !important;
    }

  }

  .item ion-thumbnail[item-start] {
    width: 10% !important;
  }

}
