<ion-header>
  <ion-navbar>
    <ion-title>Detalle Vehículo</ion-title>
    <ion-buttons end>
        <button ion-button icon-only color="royal">
          <ion-icon color="white" name="more"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

    <ion-grid *ngIf="showInformation">
      <ion-row>
        <ion-col col-4>
            <img class="img-truck" src="./assets/imgs/carts/truck.png">
        </ion-col>
        <ion-col offset-1 class="c-info">
            <p class="tx-title">Placa: <span class="tx-summary">{{vehicle.placa}}</span></p>
            <p class="tx-title">Tipo: <span class="tx-summary">{{vehicle.clase_vehiculo}}</span></p>
            <p *ngIf="vehicle.state" class="tx-title">Estado: <span class="tx-y">Disponible</span></p>
            <p *ngIf="!vehicle.state" class="tx-title">Estado: <span class="tx-n">No Disponible</span></p>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-list margin-top>
      <ion-item class="details-item" *ngFor="let item of data" (click)="goPage(item.page)">
          <ion-thumbnail item-start>
            <img class="item-thumb" [src]="item.thumb">
          </ion-thumbnail>
          <h2 class="tx-title">{{item.title}}</h2>
          <p class="tx-lite">{{item.summary}}</p>
      </ion-item>
    </ion-list>


</ion-content>
