<ion-content>

<nav-driver-component></nav-driver-component>

  <div *ngIf="mode === 1">
      <ion-card class="card-offert initial-card">
        <ion-card-content>
            <ion-grid>
              <ion-row justify-content-center>
                <ion-col col-7>
                  <p class="tx-title" text-center>Contacto</p>
                  <contact-shared mode="1" [offer]="offer"></contact-shared>
                </ion-col>
              </ion-row>
            </ion-grid>
        </ion-card-content>
      </ion-card>
  </div>

  <ion-card class="card-offert">
      <ion-card-content>
          <ion-grid>
                <ion-row>
                    <ion-col col-4>
                        <p class="c-date" text-start>{{offer.pedido}} </p>
                    </ion-col>
                    <ion-col col-8>
                        <p class="c-date" text-end>Publicado {{offer.fecha_creacion | date: 'dd/MM/yy , h:mm a'}}</p>
                    </ion-col>
                </ion-row>
              <ion-row justify-content-center>
                  <ion-col col-8 class="location">


                      <ion-row>
                          <ion-col col-4>
                              <p class="tx-title mi">
                                  <ion-icon name="md-pin" color="statusbar"></ion-icon>
                                  Origen
                              </p>
                          </ion-col>
                          <ion-col>
                              <span class="tx-summary ">{{offer.ciudad_origen}}</span>
                          </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col col-4>
                                <p class="tx-title mi">
                                    <ion-icon name="md-pin" color="btn"></ion-icon>
                                    Destino
                                  </p>
                            </ion-col>
                            <ion-col>
                                <span class="tx-summary">{{offer.ciudad_destino}}</span>
                            </ion-col>
                        </ion-row>

                  </ion-col>
                  <ion-col offset-1 col-3 (click)="shared(offer)">
                      <button ion-fab mini color="btn">
                        <ion-icon name="md-share">
                      </ion-icon></button>
                      <p class="tx-share">Compartir</p>
                  </ion-col>
              </ion-row>

              <ion-row>
                  <ion-col col-6>
                    <p class="tx-title"><ion-icon name="custom-truck" class="icon-info"></ion-icon>Clase de vehículo</p>
                    <p class="tx-summary">{{offer.clase_vehiculo}}</p>

                    <p class="tx-title"><ion-icon name="custom-weight" class="icon-info"></ion-icon> Peso</p>
                    <p class="tx-summary">{{offer.peso_carga_max}} TON</p>

                    <p class="tx-title"><ion-icon name="custom-calendar" class="icon-info"></ion-icon> Fecha de Cargue</p>
                    <!-- <p class="tx-summary">{{offer.inicio | date: 'dd/MM/yy'}}</p> -->
                    <p class="tx-summary">{{offer.inicio | date: 'dd/MM/yy'}}</p>


                    <p class="tx-title"><ion-icon name="custom-dolar" class="icon-info"></ion-icon> Flete</p>
                    <p class="tx-summary">{{offer.flete | currency:'USD':'symbol':'4.0-0'}}</p>

                    <p class="tx-title"><ion-icon name="custom-dolar" class="icon-info"></ion-icon> Cargue Conductor</p>
                    <p class="tx-summary">{{offer.cargue | currency:'USD':'symbol':'4.0-0'}}</p>

                    <p class="tx-title"><ion-icon name="custom-dolar" class="icon-info"></ion-icon> Anticipo</p>
                    <p class="tx-summary">{{offer.anticipo}}%</p>

                    <p class="tx-title"><ion-icon name="custom-dolar" class="icon-info"></ion-icon> Contra Entrega</p>

                    <p class="tx-summary">{{offer.fpcontraEntrega}}</p>

                    <p class="tx-title"><ion-icon name="custom-dolar" class="icon-info"></ion-icon> Clientes a Entregar</p>
                    <p class="tx-summary">{{offer.clase_cliente}}</p>

                  </ion-col>
                  <ion-col col-6>
                    <p class="tx-title"><ion-icon name="custom-truck" class="icon-info"></ion-icon> Carrocería</p>
                    <p class="tx-summary">{{offer.tipo_carroceria}}</p>

                    <p class="tx-title"><ion-icon name="custom-volumen" class="icon-info"></ion-icon> Volumen</p>
                    <p class="tx-summary">{{offer.volumen}}</p>

                    <p class="tx-title"><ion-icon name="custom-calendar" class="icon-info"></ion-icon> Fecha Descargue</p>
                    <!-- <p class="tx-summary">{{offer.fin | date: 'dd/MM/yy'}}</p> -->
                    <p class="tx-summary">{{offer.fin | date: 'dd/MM/yy'}}</p>

                    <p class="tx-title"><ion-icon name="custom-dolar" class="icon-info"></ion-icon> x Tonelada</p>
                    <!-- <p class="tx-summary">{{offer.val_peso | currency:'USD':'symbol':'4.0-0'}}</p> -->
                    <!-- <p class="tx-summary">${{offer.val_peso}}</p> -->
                    <p class="tx-summary">{{getCurrency(offer.val_peso)}}</p>

                    <p class="tx-title"><ion-icon name="custom-dolar" class="icon-info"></ion-icon> Descargue Conductor</p>
                    <!-- <p class="tx-summary">{{offer.descargue | currency:'USD':'symbol':'4.0-0'}}</p> -->
                    <!-- <p class="tx-summary">${{offer.descargue}}</p> -->
                    <p class="tx-summary">{{getCurrency(offer.descargue)}}</p>

                    <p class="tx-title"><ion-icon name="custom-dolar" class="icon-info"></ion-icon> Saldo</p>
                    <p class="tx-summary">{{offer.contraEntrega}}%</p>

                    <p class="tx-title"><ion-icon name="custom-dolar" class="icon-info"></ion-icon> Tiempo Saldo</p>
                    <p class="tx-summary">{{offer.tiempoSaldo}}</p>

                  </ion-col>
              </ion-row>
          </ion-grid>
      </ion-card-content>
  </ion-card>


  <ion-card>
      <ion-card-content>
        <h3 class="tx-title nt"><ion-icon name="custom-mark" class="icon-info"></ion-icon> Observaciones</h3>
        <p class="tx-summary">{{offer.Robservaciones}} </p>
      </ion-card-content>
  </ion-card>


  <ion-card class="c-req">
      <ion-card-content>
        <h3 class="tx-title nt"><ion-icon name="custom-mark" class="icon-info"></ion-icon> Requisitos</h3>

        <ion-row *ngFor="let item of requirementsOpt">
            <ion-col col-7>
                <p class="tx-title">{{item.title}}</p>
            </ion-col>
            <ion-col>
                <p class="tx-summary">{{getRequirements(offer[item.model])}}</p>
            </ion-col>
        </ion-row>

      </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
    <button *ngIf="mode === 0" color="btn" ion-button full (click)="accept()">Estoy Interesado</button>
</ion-footer>
