details-freight-driver{

  .card-offert{

    margin-top: 6rem;

    .card-content-md {
      padding: 1px 0px  0px 5px!important;
    }
    .grid{
      padding: 0 !important;
    }

    .location{

      .tx-title{
        height:2rem;
        display: table-cell;
        vertical-align: middle;
      }
      .city{
        margin-left: 1rem;
      }

      .map-icon{
        font-size: 1.6rem;
        vertical-align: middle;
      }
    }

  }

  .c-date{
    color: color($colors, txwhite);
    font-size: 1.2rem;
    margin-right: 1rem;
    font-weight: 500;
  }

  .tx-title{
    color: color($colors, title) !important;
    font-weight: 500 !important;
  }

  .tx-summary{
    color: color($colors, title) !important;
    font-size: 1.4rem;
    font-weight: 500;
  }

  .nt{
    font-size: 1.6rem !important;
    margin-bottom: 1rem;
  }

  .tx-share{
    color: color($colors, btn) !important;
    font-weight: 500 !important;
  }

  .button-md{
    margin: 0 !important;
    height: 5rem !important;
  }

  .c-req{
    margin-bottom: 3rem;
  }

  .icon-info{
    color: #cdcdcd;
    font-size: 1.1rem;
  }

}
