home-driver {

  .footer-md::before{
    height: 0!important;
  }

  .content-controls{
    margin-top: 6rem;
  }

  .h-actions{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  .h-summary{
    color: color($colors, txt1);
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
  }

  .money-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    width: 50%;
  }

  .tpaga-logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    width: 50%;
  }

  .find-tx{
    text-align: center;
    color: color($colors, txt1) !important;
    font-size: 1.5rem;
  }

}
