register-shared {
 .l-requerido{
     color: red;
  }
  .terms{
    margin-top: 10%;
  }

  .check{
    margin-right: 30px;
  }

  .button-md{
    margin: 0 !important;
    height: 5rem !important;
  }

}
