nav-driver-component {

  .col{
    padding: 0 !important;
  }

  .nav-home{
    background-color: color($colors, statusbar);
    padding: 0px !important;

    .title{
      color: white;
      font-size: 1.3rem;
      font-weight: 500;
      
      .ion-icon{
        font-size: 1.5rem !important;
        padding: 0.3rem !important;
      }
    }

    

    .nav-actions{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 75%;    
    }

    .logout{
      width: 75%; 

    } 

    .item-md{
      background-color: transparent !important;
      padding: 0 !important;
    }

    .item-md .toggle-md{
      padding: 12px 0px 12px 0px !important;
    }

    .input-wrapper{
      display: none;
    }

    .item-md.item-block .item-inner{
      border-bottom: none !important;      
    }
    .item-block{
      min-height: 0.5rem !important;
    }

    .nav-tx-available{
      color: white;
      font-size: 1rem;
      font-weight: 600;
    }

    .col-toogle{
      margin-left: 1rem;
    }

    .col-chat{
      margin-right: 1.5rem;

    }

  }


  .title{
    display: flex;
    justify-content: center;
  }

 

}
