modal-crop-shared {

  .image-up {
    margin-top :10%;
    img{
        border-radius: 80%;
    }
  }

  .all-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ctn-crop{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;

  }

  .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
  }

  .text{
    color: color($colors, btnb);
    font-size: 18px;
  }

}
