list-vehicles {

  .card-carts{

    .card-content-md {
      padding: 0!important;
    }
    .grid{
      padding: 0 !important;
    }

    p{
      margin-bottom: 1rem;
    }
  }

  .tx-title{
    color: color($colors, title) !important;
    font-weight: 500 !important;
  }

  .tx-summary{
    color: color($colors, btnb) !important;
    font-size: 1.4rem;
    font-weight: 500;
  }

  .tx-n{
    color: red;
  }
  .tx-y{
    color: green;
  }

  .f-next{
      width: 50%;
      float: right;
      // margin-top: 1rem;
  }

  .rc{
    width: 2rem;
    margin: 0.5rem;

    .btn-remove{
      width: 98%;
    }
  }

  .btn-next{
    .col{
      padding: 0 !important;
    }
  }

  .fab-add{
      width: 40%;
      float: right;
  }

  .ion-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


}
