<ion-content padding>
  <p class="tx">Hola Conductor</p>
  <p class="tx">¿Qué vehículo conduce hoy?</p>

  <ion-grid>
    <ion-row>
      <ion-col col-4>
        <p class="lt">Placa</p>
      </ion-col>
      <ion-col col-8>
          <ion-list>
            <ion-item>
              <ion-select>
                  <ion-option *ngFor="let item of vehicles" value="{{item.clase_vehiculo}}">{{item.placa}} - {{item.clase_vehiculo}}</ion-option>
              </ion-select>
            </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-4>
        <p class="lt">Fecha de disponibilidad</p>
      </ion-col>
      <ion-col col-8>
            <ion-item>
              <ion-label>Seleccione</ion-label>
              <ion-datetime
                  displayFormat="MMM/DD"
                  doneText="Seleccionar"
                  monthNames="Enero, Febrero, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Noviembre, Diciembre"
                  monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic"
                  [(ngModel)]="myDate"></ion-datetime>
            </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-4>
        <p class="lt">Municipio</p>
      </ion-col>
      <ion-col col-8>

          <div class="autocomplete">
            <ion-item>
              <ion-input
                type="text"
                [(ngModel)]="citySelected"
                (ionChange)="getItems()"
                (ionBlur)="removeFocus()"></ion-input>
            </ion-item>

            <ion-list>
              <ion-item *ngFor="let item of citiesFilter" (click)="selectCity(item)">
                {{ item }}
              </ion-item>
            </ion-list>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="btn-container">
      <button color="statusbar" class="btn-add" ion-button full>Agregar nuevo vehículo</button>
  </div>

</ion-content>
