modal-qualify-driver {

  .tx{
    text-align: center;
    font-weight: 500;
  }

  .icon-wheel{
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 0.7rem;
  }

  .text-input{    
    background: #bbb6b66e;
  }

  .row-area{
    margin-top: 2rem;
  }

  .button-md{
    font-size: 1.2rem;
  }
}
