<ion-header>
  <ion-navbar>
    <ion-title>Mis datos complementarios</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <img class="top-img" margin-top [src]="step_img">

  <ion-grid>
    <ion-row>
        <ion-col col-12 >

          <div *ngIf="step_form === 0">
              <form [formGroup]="profileForm">
                  <ion-item class=l-item>
                      <ion-label stacked>Fecha expedición documento</ion-label>
                      <ion-datetime
                        [formControl]="profileForm.controls['date']"
                        displayFormat="DD/MM/YYYY"
                        pickerFormat="DD MM YYYY"
                        doneText="Seleccionar"
                        cancelText="Cancelar">
                      </ion-datetime>
                  </ion-item>

                  <ion-item class=l-item>
                          <ion-label stacked>Lugar expedición documento </ion-label>
                          <ion-input
                            [formControl]="profileForm.controls['place']"
                            (ionChange)="toCapitalize($event, 'place')"
                            type="text" >
                          </ion-input>
                  </ion-item>

                  <ion-item class=l-item>
                      <ion-label stacked>País</ion-label>
                      <ion-input
                        [formControl]="profileForm.controls['country']"
                        (ionChange)="toCapitalize($event, 'country')"
                        type="text" ></ion-input>
                  </ion-item>

                  <ion-item class=l-item>
                      <ion-label stacked>Departamento</ion-label>
                      <ion-input
                        [formControl]="profileForm.controls['state']"
                        (ionChange)="toCapitalize($event, 'state')"
                        type="text"></ion-input>
                  </ion-item>

                  <ion-item class=l-item>
                      <ion-label stacked>Municipio</ion-label>
                      <ion-input
                        [formControl]="profileForm.controls['city']"
                        (ionChange)="toCapitalize($event, 'city')"
                        type="text">
                      </ion-input>
                  </ion-item>

                  <ion-item class=l-item>
                      <ion-label stacked>Dirección</ion-label>
                      <ion-input
                        [formControl]="profileForm.controls['address']"
                        (ionChange)="toCapitalize($event, 'address')"
                        type="text" >
                      </ion-input>
                  </ion-item>

                  <ion-item class=l-item>
                      <ion-label stacked>Teléfono residencia</ion-label>
                      <ion-input type="number" [formControl]="profileForm.controls['phone']"></ion-input>
                  </ion-item>
                </form>
          </div>

          <div *ngIf="step_form === 1">
              <form [formGroup]="profileForm_0">
                  <ion-item class=l-item>
                      <ion-label stacked>Fecha de nacimiento</ion-label>
                      <ion-datetime
                        [formControl]="profileForm_0.controls['date']"
                        displayFormat="DD/MM/YYYY"
                        pickerFormat="DD MM YYYY"
                        doneText="Seleccionar"
                        cancelText="Cancelar">
                      </ion-datetime>

                  </ion-item>

                  <ion-item class=l-item>
                          <ion-label stacked>Lugar de nacimiento </ion-label>
                          <ion-input
                            [formControl]="profileForm_0.controls['place']"
                            (ionChange)="toCapitalize($event, 'place')"
                            type="text"></ion-input>
                  </ion-item>

                  <ion-item class=l-item>
                      <ion-label stacked>Nombre ARL</ion-label>
                      <ion-input
                        [formControl]="profileForm_0.controls['arl']"
                        (ionChange)="toCapitalize($event, 'arl')"
                        type="text">
                      </ion-input>
                  </ion-item>

                  <ion-item class=l-item>
                      <ion-label stacked>Nombre EPS </ion-label>
                      <ion-input
                        [formControl]="profileForm_0.controls['eps']"
                        (ionChange)="toCapitalize($event, 'eps')"
                        type="text">
                      </ion-input>
                  </ion-item>

                  <ion-item class=l-item>
                      <ion-label stacked>Número licencia conducción</ion-label>
                      <ion-input type="number" [formControl]="profileForm_0.controls['license_plate']"></ion-input>
                  </ion-item>

                  <ion-item class=l-item>
                      <ion-label stacked>Categoría Licencia</ion-label>
                      <ion-select [formControl]="profileForm_0.controls['license_category']">
                          <ion-option *ngFor="let item of plate_category" value="{{item.value}}">{{item.name}}</ion-option>
                      </ion-select>
                  </ion-item>

                  <ion-item class=l-item>
                      <ion-label stacked>Vencimiento Licencia</ion-label>
                      <ion-datetime
                        [formControl]="profileForm_0.controls['license_expiration']"
                        displayFormat="DD/MM/YYYY"
                        pickerFormat="DD MM YYYY"
                        max="2035-12-19"
                        doneText="Seleccionar"
                        cancelText="Cancelar">
                      </ion-datetime>
                  </ion-item>

                  <ion-item class=l-item>
                      <ion-label stacked>Tipo de Sangre</ion-label>
                      <ion-select [formControl]="profileForm_0.controls['rh']">
                          <ion-option *ngFor="let item of blob_types" value="{{item.value}}">{{item.name}}</ion-option>
                      </ion-select>
                  </ion-item>

                  <ion-item class=l-item>
                      <ion-label stacked>Género</ion-label>
                      <ion-select [formControl]="profileForm_0.controls['gender']">
                          <ion-option *ngFor="let item of gender_options" value="{{item.value}}">{{item.name}}</ion-option>
                      </ion-select>
                  </ion-item>
                </form>
          </div>


        </ion-col>
    </ion-row>
</ion-grid>

<button margin-top (click)="save()" [disabled]="!profileForm.valid" ion-button full color="btn">Guardar</button>



</ion-content>

