contact-shared {

  .h-actions{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  .email-contact{
    font-size: 3.8rem;
    color: color($colors, mapgreen);
    // margin-left: auto;
    // margin-right: auto;
    margin-left: 0.7rem;
    // display: block;
  }

}
