page-nav{

  .nav-home{
    background-color: color($colors, statusbar);
    padding: 0px !important;

    .item-md{
      background-color: transparent !important;
      padding: 0 !important;
    }

    .item-md .toggle-md{
      // padding: 0 !important;
    }

    .input-wrapper{
      display: none;
    }

    .item-md.item-block .item-inner{
      border-bottom: none !important;      
    }
    .item-block{
      min-height: 0.5rem !important;
    }

    .nav-tx-available{
      color: white;
      font-size: 1rem;
      font-weight: 600;
    }
  }

}
