<ion-toolbar>
    <ion-grid class="nav-home">    
        <ion-row align-items-center>
          <ion-col col-2 *ngIf="modeTitle">
            <img class="nav-actions" src="./assets/imgs/favicomcargaya.png"/>
          </ion-col>
          <!-- <ion-col col-1 *ngIf="!modeTitle">                
                <ion-icon name="arrow-back" (click)="goBack()"></ion-icon>
          </ion-col> -->
          <ion-col col-2 *ngIf="!modeTitle">                
            <p class="title"><ion-icon name="arrow-back" (click)="goBack()"></ion-icon>  {{title}}</p>      
          </ion-col>
          <ion-col col-7 class="col-toogle">
            <ion-grid>
              <ion-row align-items-center>
                <ion-col col-7>
                    <p class="nav-tx-available">{{tx_available}} - WFG-385</p>
                </ion-col>
                <ion-col col-4>
                    <ion-item >              
                        <ion-toggle color="btn" [(ngModel)]="driver_available" (ionChange)="availabilityChange(driver_available)"></ion-toggle>
                    </ion-item>
                </ion-col>            
              </ion-row>
            </ion-grid>
          </ion-col>
          <ion-col col-1 class="col-chat" (click)="chat()">
              <img src="./assets/imgs/chat.png"/>
          </ion-col>
          <ion-col col-1 (click)="logout()">
              <img class="logout" src="./assets/imgs/logout.png"/>
          </ion-col>
        </ion-row>    
      </ion-grid>

</ion-toolbar>


